// - - - - - - - variables - - - - - - -

// responsive
$mobile-min-width: 360px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-max-width: 1920px;

// colours
$primary-colour: #AFC8C8;

// typography
@import url(//db.onlinewebfonts.com/c/548e77e130ea884c764acabe1ba1ad63?family=0Arame);


// - - - - - - - functions - - - - - - -

// get font weight
@function font-weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// get colour
@function colour($colour) {
    @return map-get($colours, $colour);
}


// - - - - - - - mixins - - - - - - -

// Flex Center
@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// mobile
@mixin mobile() {
    @media only screen and (min-width: $mobile-min-width) {
        @content;
    }
}

//tablet
@mixin tablet() {
    @media only screen and (min-width: $tablet-min-width) {
        @content;
    }
}

// desktop
@mixin desktop() {
    @media only screen and (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
        @content;
    }
}

@mixin headers() {
    font-family: "0Arame", sans-serif;
    color: white;
    font-weight: normal;
}


h1,h2 {
    @include headers;
    font-size: 7vw;
}